<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a class="nav-logo" href="./index.html">
        <img src="/img/logo.png" alt="logo" />
        Product
      </a>
     
      <ul class="header-list">
        <li class="header-list-item">
          <a href="./index.html" class="header-list-link active">Product</a>
        </li>
        <li class="header-list-item">
          <a href="./pricing.html" class="header-list-link">Pricing</a>
        </li>
        <li class="header-list-item">
          <a href="./customer.html" class="header-list-link">Customers</a>
        </li>
        <li class="header-list-item">
          <a href="" class="header-list-link">Resources</a>
        </li>
      </ul>
    </nav>
    <ul class="header-list-btn">
      <li class="header-list-btn-item">
        <button type="button" class="list-btn-sign">Sign in</button>
      </li>
      <li class="header-list-btn-item">
        <button type="button" class="list-btn-signup">Sign up</button>
      </li>
    </ul>
    <button type="button" class="mobile-header-btn">
      <svg width="28" height="32">
        <use href="./images/symbols.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
